@import "../../mixings.scss";

.pokemonCardContainer {
  display: block;
  border: 1px solid var(--primaryColor);
  box-shadow: var(--primaryBoxShadow);
  transition: transform 0.2s ease;
  cursor: pointer;
  width: 19.2%;
  margin-top: 1em;
  position: relative;
  text-decoration: none;

  @include tablet-breakpoint {
    width: 32.6%;
  }
  @include mobile-breakpoint {
    width: 32.2%;
  }


  &:hover,
  &:focus {
    transform: translateY(-10px);
    .contentContainer .pokemonName {
      color: var(--secondaryColor);
    }
  }

  .imageContainer {
    background: linear-gradient(160deg, var(--lightColor) 0%, var(--secondaryColor) 70%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .contentContainer {
    background-color: var(--darkColor);
    
    .pokemonID,
    .pokemonName {
      font-size: var(--mediumText);
      line-height: var(--mediumText);
      display: flex;
      align-items: center;
      color: var(--lightColor);
    }

    .pokemonName {
      padding: 0.2em 0.4em;
    }

    .pokemonID {
      background-color: var(--lightColor);
      color: var(--darkColor);
      font-weight: bold;
      padding: 0.1em 0.1em;
      font-size: var(--mediumText);
      line-height: var(--mediumText);
      justify-content: end;

      img {
        width: 1em;
        margin-right: 0.1em;
      }
    }
  }

  .elementIconContainer {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: flex;
    gap: 0.1em;

    img {
      width: 1em;
    }
  }
}
