@import "../../mixings.scss";

.navigationMenuRoot {
  background-color: var(--darkColor);
  box-shadow: var(--primaryBoxShadow);

  .navigationMenuList {
    display: flex;
    gap: 1.5rem;
    padding: 0.3rem 0;

    & {
      @include container;
      @include container-breakpoint {
        padding-left: 1rem;
      }
    }
  }

  .NavigationMenuItem {
    position: relative;

    .NavigationMenuTrigger, .NavigationMenuLink {
      display: block;
      text-decoration: none;
      margin: 0.5rem 0;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      position: relative;
      color: var(--lightColor);
    }

    .NavigationMenuLink[aria-current="page"] {
      color: var(--terciaryColor);
    }

    .NavigationMenuTrigger[data-state="open"],
    .NavigationMenuLink:hover,
    .NavigationMenuLink:focus {
      color: var(--terciaryColor);
    }

    .NavigationMenuContent {
      position: absolute;
      background-color: var(--lightColor);
      min-width: 200px;
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      z-index: 100;
    }
  }
}
