@import "../../mixings.scss";

.navigationMenuRoot {
  background-color: var(--primaryColor);
  border-top: 2rem var(--terciaryColor) solid;
  box-shadow: var(--primaryBoxShadow);

  .navigationMenuList {
    display: flex;
    gap: 1.5rem;
    padding: 0.3rem 0;

    & {
      @include container;
      @include container-breakpoint {
        padding-left: 1rem;
      }
    }
  }

  .NavigationMenuItem {
    position: relative;

    .NavigationMenuTrigger {
      padding: 0.5rem 0;
      background: none;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      text-shadow: 1px 1px 2px black;
      color: var(--lightColor);
    }

    .NavigationMenuTrigger[data-state="open"] {
      color: var(--secondaryColor);
    }

    .NavigationMenuContent {
      position: absolute;
      background-color: var(--primaryColor);
      min-width: 200px;
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
    }
  }
}
