@import "../../mixings.scss";

.cardsContainer {
  // TBD: Standarize the spacing between sections.
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  

  & {
    @include container;
  }

  .contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

    @include mobile-breakpoint {
      gap: 1.5%;
    }
    
  }

  .loadMoreContainer {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;

    @include mobile-breakpoint {
      justify-content: end;
    }

    button {
      border: 2px solid var(--lightColor);
      border-radius: 0.5em;
      color: var(--lightColor);
      background-color: var(--darkColor);
      width: 200px;
      padding: 0.5em;
      box-shadow: var(--primaryBoxShadow);
      cursor: pointer;
      font-size: 1.1em;

      &:hover,
      &:focus {
        background-color: var(--darkColor);
        color: var(--secondaryColor);
        border-color: var(--secondaryColor)
      }
    }
  }
  
}
