@import "../../mixings.scss";

.cardsContainer {
  // TBD: Standarize the spacing between sections.
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  

  & {
    @include container;
  }

  .contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

    @include mobile-breakpoint {
      gap: 1.5%;
    }
    
  }
  
}
