@import '../../mixings.scss';

.cardsContainer {
    @include container;
    // TBD: Standarize the spacing between sections.
    margin-top: 2rem;
    border: 1px solid var(--primaryColor);
}

.contentContainer {
    display: flex;
    justify-content: space-between;
}