// Variables.
:root {
  // Colors.
  --primaryColor: rgb(231, 225, 225);
  --secondaryColor: #FFEC9E;
  --lightColor: white;
  --darkColor: rgb(54, 53, 53);

  // General variables
  --primaryBoxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

// Fonts.
//=============================
//  TBD: Adding more fonts types.
//==============================
@font-face {
  font-family: "primaryFont";
  src: url("./assets/fonts/ArsenalSC-Regular.ttf") format("truetype");
}

// Reseting styles.
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

// Global styles
*,
*::after,
*::before {
  font-family: "primaryFont";
}

body {
  background: var(--primaryColor);
  background-repeat: no-repeat;
}